@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("../img/pexels-freestocks-76942.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(225, 254, 254, 0.5);
    height: 150px;
}

.logotipo {
    width: 200px;
    padding: 10px;
}

.menu {
    display: flex;
    gap: 180px;
}

.menu-item{
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

.menu-item:hover {
    cursor: pointer;
}

#acesse , #inscreva {
    background-color: rgba(120, 231, 194, 0.363);
    border-radius: 10px;
}

#acesse:hover , #inscreva:hover {
    background-color: rgba(93, 221, 178, 0.692);
}

.conteudo {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.conteudoPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#titulo {

    font-size: 40px;
    font-weight: bold;
}

    #subtitulo {
        margin-top: 30px;
        font-size: 30px;
    }

    .botao {
        margin-top: 20px;
        width: 250px;
        height: 50px;
        background-color: rgba(225, 254, 254, 0.5);
        border-radius: 10px;
        border: none;
    }

    .botao:hover {
        background-color: rgba(93, 221, 178, 0.692); 
    }

    .rodape {
        text-align: center;
        display: flex;
        bottom: 0;
        padding: 500px;
    }
